---
import Header from "~/components/header.astro";
import Footer from "~/components/footer.astro";
import Form from '~/components/Content/form.astro'
import "~/styles/index.css";
---

<!doctype html>
<html
	lang="en"
	class="h-[100vh] overflow-x-hidden motion-safe:scroll-smooth"
	data-theme="dark"
>
	<head>
		<script async src="https://www.googletagmanager.com/gtag/js?id=G-N2NRNJB8S4"/>
		window.dataLayer = window.dataLayer || [];
		<script is:inline>
		  function gtag() {
		    dataLayer.push(arguments);
		  }
		  gtag("js", new Date());
	  
		  gtag("config", "G-N2NRNJB8S4");
		</script>
		<title>Cyber House</title>
		<link rel="icon" href="/favicon.webp" type="image/webp">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
	</head>
	<body
		class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
	>
	<Header />
		<section>
			<center>
				<div
					class="grid w-[60%] gap-3 px-2 py-28 max-lg:w-[80%] max-sm:w-full "
				>
					<div class="rounded-md bg-offset p-2 ">
						<div class="p-5 text-left" >
                           <h1 class="font-bold text-3xl text-[#f5ba20]" >Daftar Kelas Gratis Cyber House </h1>
                        </div>
                        <Form nomor="6287887893143" title="Daftar Kelas Gratis Cyber House" code="false" classOption="true"/>
				</div>
			</center>
		</section>
	</body>
	<Footer />

</html>
