---
import Header from "~/components/header.astro";
import Footer from "~/components/footer.astro";
import Form from '~/components/Content/form.astro'
import "~/styles/index.css";
import Dropdown from "~/components/Content/dropdown.astro";

const term = "Website Cyber House, dapat diakses dari cyber-house.id, salah satu prioritas utama kami adalah privasi pengunjung kami. Dokumen Kebijakan Privasi ini berisi jenis informasi yang dikumpulkan dan dicatat oleh cyber-house.id dan bagaimana kami menggunakannya. Jika Anda memiliki pertanyaan tambahan atau memerlukan informasi lebih lanjut tentang Kebijakan Privasi kami, jangan ragu untuk menghubungi kami.\n\nInformasi yang Kami Kumpulkan\n\ncyber-house.id mengikuti prosedur standar menggunakan file log. File-file ini mencatat pengunjung ketika mereka mengunjungi situs web. Semua perusahaan hosting melakukan ini dan merupakan bagian dari analisis layanan hosting. Informasi yang dikumpulkan oleh file log termasuk alamat protokol internet (IP), jenis browser, Penyedia Layanan Internet (ISP), tanggal dan waktu, halaman rujukan/keluar, dan mungkin jumlah klik. Ini tidak terkait dengan informasi apa pun yang dapat diidentifikasi secara pribadi. Tujuan informasi adalah untuk menganalisis tren, mengelola situs, melacak pergerakan pengguna di situs web, dan mengumpulkan informasi demografis.\n\nCookies\n\nSeperti situs web lainnya, cyber-house.id menggunakan ‘cookie’. Cookie digunakan untuk menyimpan informasi seperti preferensi pengunjung dan halaman yang diakses atau dikunjungi pengunjung pada situs web ini. Informasi tersebut kami gunakan untuk mengoptimalkan pengalaman pengguna dengan menyesuaikan konten halaman web kami.\n\nKebijakan Privasi Pihak Ketiga\n\nKebijakan Privasi cyber-house.id tidak berlaku untuk pengiklan atau situs web lain. Karena itu, kami menyarankan Anda untuk membaca seksama masing-masing Kebijakan Privasi dari pihak ketiga untuk informasi yang lebih rinci. Anda berhak untuk menonaktifkan cookies pada browser Anda.\n\nInformasi Anak\n\nSalah satu prioritas kami adalah membantu perlindungan untuk anak-anak saat menggunakan internet. Kami mendorong orang tua dan wali untuk mengamati, berpartisipasi, memantau, dan membimbing aktivitas online mereka. cyber-house.id tidak dengan sengaja mengumpulkan informasi identifikasi pribadi apa pun dari anak-anak di bawah umur. Jika menurut Anda anak Anda memberikan informasi semacam ini di situs web kami, kami sangat menganjurkan Anda untuk segera menghubungi kami dan kami akan melakukan upaya terbaik kami untuk segera hapus informasi tersebut dari catatan kami.\n\nPersetujuan\n\nDengan menggunakan situs web kami, Anda dengan ini menyetujui Kebijakan Privasi kami dan menyetujui syarat dan ketentuannya."
---

<!doctype html>
<html
	lang="en"
	class="h-full overflow-x-hidden motion-safe:scroll-smooth"
	data-theme="dark"
>
	<head>
		<title>Cyber House</title>
		<link rel="icon" href="/favicon.webp" type="image/webp">
		<meta charset="utf-8" />
		<meta name="viewport" content="width=device-width" />
	</head>
	<body
		class="h-full overflow-x-hidden bg-default text-default text-base selection:bg-secondary selection:text-white"
	>
		<Header />
		<section>
			<center>
				<div
					class="grid w-[60%] gap-3 px-2 py-28 max-lg:w-[80%] max-sm:w-full "
				>
					<div class="rounded-md bg-offset p-2 ">
						<div class="p-5 " >
                            <p class="text-lg text-white text-left font-thin" >Join program ini & <span class="font-bold" >bangun portofolio cuma 3 bulan :</span></p>
                            <h1 class="font-extrabold text-white text-5xl text-left mt-[1rem]" >Rp5.000.000</h1><br/>
                            <p class="text-left" >SEHARGA MAKAN PER HARI SELAMA 3 BULAN </p>
							<p class="text-left font-bold text-[#fab520]" >LIFETIME AKSES MATERI <span class="font-bold text-red-500 text-lg">!!!</span></p>
						    <p class="text-left font-bold text-[#fab520]" >KELAS AKAN DIMULAI PADA 11 OKTOBER <span class="font-bold text-red-500 text-lg">!!!</span></p>
                        </div>
                        <Form nomor="6285333423070" title="Daftar Kelas Premium Cyber House"  code="true" classOption="false" />
				</div>
			</center>
        
		</section>
	</body>
	<Footer />

</html>
