---
import video from '../../assets/background/Background.mp4'
---

<section>
    <div class="absolute object-cover" >
        <video loop muted autoplay >
            <source src={video}>
        </video>
    </div>

</section>