---
import * as Icon from "@astropub/icons";
import Dropdown from "./Content/dropdown.astro";

const faq = [
    {
        question: "Bagaimana sistem pembelajarannya ?",
        answer: "Akan ada live class tiap minggunya & kamu akan diberikan akses ke member area. Pada member area, kamu bisa akses modul & recording kelas pembelajaran lewat grup discord. Kamu bisa pause dan ulang pembelajarannya kapanpun dimanapun.",
    },
    {
        question: "Apakah bisa diakses lewat HP ?",
        answer: "Kamu bisa akses member area beserta video pembelajarannya lewat browser HP.",
    },
    {
        question: "Saya belum ada basic IT ?",
        answer: "Kelas ini justru sangat tepat dan relevan bagi kamu yang masih pemula dan merasa basic IT masih sangat kurang. Mentor yang sudah tersertifikasi & terjun di industri selama 10+ tahun akan membimbingmu step by step dan memberikan solusi yang tepat bagi kamu yang masih pemula.",
    },
    {
        question: "Kalau bingung, gimana tanyanya ?",
        answer: "Jika ada kebingungan, Kamu bisa bertanya dan konsultasi melalui komunitas discord karena sudah disediakan senior - senior mentor untuk membalas dan berdiskusi pertanyaan – pertanyaan kamu.",
    },
    {
        question: "Live rutinnya lewat mana ?",
        answer: "Live kelas & Qna lewat zoom, link akan dibagikan di channel discord Cyber House. Hanya member saja yang bisa join. Apabila tidak sempat ikut, tidak perlu khawatir karena rekamannya terdapat pada modul. Sedangkan untuk live konsultasi portofolio, akan dilakukan lewat live discord.",
    }
];
---

<section class="my-3" >
<center><h1 class="text-4xl font-extrabold mb-[3rem]" >FREQUENTLY ASKED <span class="text-[#f5ba20]" >QUESTION</span></h1></center>

<center>
    {
        faq.map(({ answer, question }) => (
           <Dropdown Question={question} Answer={answer} size="2xl" color="offset" id="faq"/>
        ))
    }
</center>
</section>

