---
import ContentSection from "~/components/content-section.astro";
import Logo from '~/components/Content/scrollLogo.astro'
---

<ContentSection title="PARTNER KAMI" id="Partner">
<section class="bg-[#f5ba20]" >
  <Logo/>
</section>
</ContentSection>
